body {      
     font-family: 'Press Start 2P', cursive;      
     background-color: #464442;      
     font-size: 15px;      
     font: #faebd7; } 

.main-image {      
     text-align: center;      
     max-width: 85%;      
     margin-bottom: 50px;      
     margin-left: 50px;
     
}   
.navbar {
     background-color: #464442 !important;
}
.main-heading {
     background-color: #272523;
     padding-top: 90px;
     margin-left: 50px;
     color: #faebd7;
}
.greymain {
     color: #272523;
     background-color: #272523;
     width: 100%;
     display: block;

}
.elevator {
   
   
     color: #faebd7;
}

.buttons {
     text-align: center;
     
}
button {
     background-color: #faebd7;
}
button:hover {
     background-color: #464442;
}
.skills {
     text-align: center;
     padding-top: 5%;

}
#rightbut{
     float: right;
     padding: 1%;
}
#leftbut {
     float: left;
     padding: 1%;
}
#boot {
     margin-left: 15%;
     padding: 1%;
}
#react {
     padding: 1%;
     margin-left: 30%;
}
#css {
     padding: 1%;
     margin-left: 39.5%;
}
#jquery {
     padding: 1%;
     margin-left: 46.5%;
}
.frontEndButton {
     display: none;
}
#php {
     padding: 1%;
     float: right;
     margin-right: 13%;
}
#node {
     padding: 1%;
     float: right;
     margin-right: 19.5%;
}
#python {
     padding: 1%;
     float: right;
     margin-right: 27.5%;
}
#express {
     padding: 1%;
     float: right;
     margin-right: 47.6%;
}
.backEndButton {
     display: none;
}

.work-heading {
     background-color: #272523;
     color: #faebd7;
     margin-top: 7%;
     margin-left: 2%;

}
.work-description{
     background-color: #272523;
     color: #faebd7;
     padding: 1%;
}
form {
     float: left;
     margin-top: 5%;
     padding: 5%;
     max-width: 60%;
     background-color: #272523;
     color: #faebd7;
}
input {
     text-align: center;
     float: right;
     max-width: 60%;
}
textarea {
     text-align: center;
     float: right;
     max-width: 60%;
}

#pixeljohn {
     margin: 9%;
}

#contactp{
     text-align: center;
     margin-right: 30%;
     float: right;
     color: #faebd7;
}
#email {
     text-align: center;
     margin-right: 33.33%;
     float: right;
     color: #faebd7;
     text-decoration: underline;
}
#email_button{
     text-align: center;
     margin-right: 32%;
     float: right;
}
#fadeContact{

     text-align: center;
     animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#my_email{
     opacity: 0;
     position: absolute;
     z-index: -9999;
     pointer-events: none;
}